[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
build = "python setup.py sdist"
install = "pip install -e ."
test = "pytest test/test_app.py"
test_d = "pytest test/test_decimal.py"
